<html>
	<head>
		<title>Karaoke Waiting List</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/listclient.js"></script>
		<style>
			body{
				margin: auto;
				width: 80%;
				height: 80%;
				font-family: Verdana, Geneva, sans-serif;
			}
		</style>
	</head>
	<body>
		<h1 style="font-size:32px">Karaoke Waiting List</h1>
		<div id="waitlist" style="font-size:24px"></div>
		<p style="font-size:18px">Submit Your Song Request</p>
		<form id='requestform'>
			Name:<input type='text' id='name'><br>
			Song: <input type='text' id='song'><br>
			<button id="submitButton" onclick="postRequestToGoogle()" type="button">Submit Request</button>
		</form>
		<p id="thanks" style="font-size:18px"></p>
	</body>
</html>
